
.item-a1 {
align-self: start;
  grid-area: header;
}
.item-b1 {
  grid-area: main;
}
.item-c1 {
  grid-area: sidebar;
}
.item-d1 {
  grid-area: footer;
}

#container1{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: auto;

  grid-template-areas:
    "header  . . . . . . . . . . . . . . . . main sidebar footer"

}

#xd{
  color: white;
  background-color:black;
  display: flex;
  justify-content:space-between;


}
#xd a {
    color:white;

}
#container2{
  display: flex;
  flex-wrap:wrap;
  justify-content:space-between;

}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
